* {
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 0; */
}

/*body {
  background-image: url("../images/Location-Roeterseiland.jpeg") !important;
}

.about-us-text {
  width: 100%;
  padding: 78px 0px;
}
.nicepix {
  height: 100vh;
  width: 100vw;
}
.container {
  margin-top: 400px;
}*/

body {
  background-color: white;
  opacity: 0;
  transition: opacity 5s;
}

.mission img {
  width: 100%;
  height: auto;
}

.text {
  color: #fcac44;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.header_title {
  font-size: 40px;
}

.text p {
  font-size: 22px;
  margin: 15px;
}
