* {
  box-sizing: border-box;
}

body {
  background-color: white;
  opacity: 0;
  transition: opacity 5s;
}

.mission img {
  width: 100%;
  height: auto;
}

.text {
  color: #ff9b17;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.header_title {
  font-size: 40px;
}

.text p {
  font-size: 22px;
  margin: 15px;
}
