h2 {
  color: #febd69;
}
h3,
h4 {
  color: #37475a;
}

.col-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  background-color: white;
  margin: auto;
}


.user-info {
  flex-direction: column;
}

table {
  border-collapse: collapse;
}
tbody {
  border-bottom: 5px solid #8aa1b1;
}


label {
  display: block;
  color: #37475a;
  font-size: 1.2em;
  margin-bottom: 0.1em;
}

.shipping-info input[type="text"] {
  width: 40em;
  outline: none;
  border: 1px solid black;
  border-radius: 0.3em;
  margin-bottom: 1em;
  box-sizing: border-box;
  padding: 1em;
  display: flex;
}
@media (max-width: 600px){
  .shipping-info input[type="text"]{
    width: 100%;
  }
  .order-info{
    height: 350px;
    justify-content: center;
  }
}

.shipping-info input[type="submit"] {
  width: 100%;
  background-color: #febd69;
  border: 1px solid black;
  border-radius: 0.3em;
  padding: 1.5em;
  cursor: pointer;
  font-size: 20px;
  color: #37475a;
}

.shipping-info input[type="submit"]:hover {
  background-color: #ebaf60;
}

.cart {
  margin-left: 5em;
  display: flex;
}
.order-info {
  border: 2px solid black;
  outline: none;
  background-color: white;
  border-radius: 0.3em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  height: 750px;
  overflow-y: scroll;
  overflow-x: auto;
}

.contact-info {
  margin-top: 2em;
}
.left {
  padding-left: 1.5em;
}

.bottom {
  margin-bottom: 0.5em;
  margin-top: 20px;
}

.order-bottom {
  margin-bottom: 1em;
}

.order-info h3 {
  margin: 1em;
}

.contact-info input[type="checkbox"] {
  margin-bottom: 10px;
}
