.contact-container {
  max-width: 1400px;
  margin: auto;
}

.contact_box {
  background: white;
  display: flex;
}

.contact_left {
  flex-basis: 60%;
  padding: 40px 60px;
}

@media (max-width: 600px) {
  .contact_left,
  .contact_right {
    width: 100%;
    display: flex;
    flex-basis: 100%;
  }
  .contact_box {
    flex-wrap: wrap;
  }
}
.contact_right {
  flex-basis: 40%;
  padding: 40px;
  background-color: #febd69;
  color: #37475a;
}

h1 {
  margin-bottom: 20px;
  color: #febd69;
  font-size: 2.5em;
}
.contact-container p {
  margin-bottom: 50px;
  color: #febd69;
}

.input_row {
  display: ruby;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input_row .input_group {
  flex-basis: 45%;
  padding-bottom: 30px;
}

input {
  width: 100%;
  border: 1px solid;
  outline: none;
}
.input-form {
  padding: 6px;
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

label {
  margin-bottom: 6px;
  display: block;
  color: #febd69;
}

.messagebutton button {
  background: #febd69;
  width: 100px;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.messagebutton button:hover {
  background-color: #ae7c3b;
}

.contact_left h3 {
  margin-bottom: 40px;
  color: #febd69;
  font-weight: 600;
}

.contact_right h3 {
  margin-bottom: 40px;
  font-weight: 600;
  color: #37475a;
}
a {
  color: #37475a;
  text-decoration: none;
}

tr td:first-child {
  padding-right: 30px;
}
tr td {
  padding-top: 30px;
}
/* 
img {
  float: right;
} */
