body{
    background: rgb(200, 212, 228);
    font-family: 'Roboto', sans-serif;
}

.homebutton{
    float: right;
    margin-right: 60px;
}

.homebutton a{
    
}

.container{
    width: 80%;
    margin: 50px auto;
    
}

.contact_box{
    background: white;
    display: flex;
}

.contact_left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact_right{
    flex-basis: 40%;
    padding: 40px;
    background-color: #FEBD69;
}

h1{
    margin-bottom: 20px;
}
.container p{
    margin-bottom: 50px;
}

.input_row{
    display:ruby;
    justify-content: space-between;
    margin-bottom: 20px;

}
.input_row .input_group{
    flex-basis: 45%;
    padding-bottom: 30px;
}

input{
    width: 100%;
    border: 1px solid;
    outline: none;
    padding-bottom: 8px;
}

textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #FEBD69;
}

button{
    background: #FEBD69;
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181,0.3);
}