.form {
    background-color: white;
    padding: 70px;
  }
  
  .formscreen {
    text-align: center;
    place-items: center;
    border: black;
  }
  
  .title {
    color: #febd69;
    font-size: 38px;
    font-weight: bolder;
    padding: 25px;
  }

  .email {
    padding-bottom: 20px;
  }
  
  .email input {
    font-size: 20px;
    padding: 10px;
  }

  .send {
    font-size: 20px;
    color: black;
    padding: 10px 140px;
    background-color: #febd69;
    border-color: #febd69;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
    margin-top: 20px;
  }

  .text {
    text-decoration: none;
    color: #febd69;
    font-weight: bolder;
  }
  
  .text:hover {
    text-decoration: underline;
  }

  .send:hover {
    background-color: #e4b271;
  }

  .paragraph {
      margin-bottom: 20px;
      font-size: 20px;
  }