/* .register_container {
  background-color: #fff;
  padding: 20px;
} */

/* .register h1 {
  color: #febd69;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
} */

/* h1 {
  color: rgb(8, 10, 10);
} */

/* index.php  */

.filler {
  height: 100vh;
}
