body {
  background-color: #8aa1b1;

  font-family: "Roboto", sans-serif;

  height: 100%;
  padding-top: 100px;
  margin-bottom: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.register_container {
  background-color: #fff;
  padding: 20px;
}
.register h1 {
  color: #febd69;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  color: rgb(8, 10, 10);
}

/*https://www.w3schools.com/css/css_navbar.asp*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #febd69;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* https://www.w3schools.com/css/css_dropdowns.asp */
li a:hover,
.menu:hover .dropdown {
  background-color: #c28e49;
}

li.menu {
  display: inline-block;
}

.content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.content a:hover {
  background-color: #febd69;
}

.menu:hover .content {
  display: block;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.currentpage {
  background-color: rgb(90, 90, 90);
}

.searchbar {
  float: right;
}

.textbar {
  margin-top: 7px;
  margin-bottom: 7px;
}

.textbar input {
  font-size: 18px;
  border: none;
  width: 400px;
  border-radius: 40px;
  margin: 5px;
}

.logo {
  background: #fff;
  padding: auto;
}

.searchbutton {
  border: none;
  background-color: #febd69;
  margin-top: 7px;
  margin-bottom: 7px;
}

ion-icon {
  font-size: 18px;
  margin-right: 10px;
 /* padding-top: 8px;*/
  --ionicon-stroke-width: 40px;
}

.filler {
  height: 100vh;
}
