




body {
  background-color: rgb(200, 212, 228);
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: rgb(8, 10, 10);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(115, 132, 165);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(90, 90, 90);
}
.container{
  max-width: 1400px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.bd-image{
  background-image: url("amsterdam.jpeg");

  filter: blur(6px);
  -webkit-filter: blur(6px);
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}