/* https://www.w3schools.com/howto/howto_css_button_on_image.asp */

.imagecontainer img {
  height: auto;
  width: 100%;
  display: block;
}

.imagecontainer {
  background-color: white;
  position: relative;
  size: 100%;
}

.imagecontainer button {
  border-radius: 40px;
  position: absolute;
  left: 44%;
  top: 90%;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  font-size: 35px;
  margin-bottom: 100px;
  background-color: rgb(169, 201, 250);
  border-color: white;
}

.imagecontainer button:hover {
  background-color: rgb(219, 231, 250);
}

@media (max-width: 1400px) {
  .imagecontainer button {
    font-size: 3vw;
    left: 3vw;
  }
}

.applelink {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

.apple {
  margin-top: 25px;
  height: vh;
  width: 100vh;
}

.headertext {
  text-align: center;
  margin-left: 100px; 
  font-size: 30px;
  font-weight: bolder;
  color: #febd69;
}

.text_center {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  color: rgb(169, 201, 250);
  font-size: 70px;
  font-weight: bolder;
}

@media (max-width: 1650px) {
  .text_center {
    font-size: 3vw;
  }
}

/*
@media (max-width: 1400px) {
  .text_center {
    font-size: 40px;
  }
}

@media (max-width: 1000px) {
  .text_center {
    font-size: 30px;
  }
}*/
/*
@media (max-width: 700px) {
  .text_center {
    font-size: 18px;
  }
}*/

/* https://www.w3schools.com/cssref/css3_pr_flex-wrap.asp
     https://www.w3schools.com/howto/howto_css_images_side_by_side.asp
  */

.beautycontainer,
.trendingcontainer,
.categorycontainer {
  background-color: white;
  position: relative;
  padding-top: 200px;
}

.beautyrow,
.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 100px;
  flex-direction: row;
}

@media (max-width: 600px) {
  .beautyrow, .trending {
    flex-direction: column;
  }
}

.picture img {
  float: left;
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.hover:hover,
.view:hover {
  opacity: 0.3;
}

.picture,
.column {
  margin-top: 25px;
}

.category {
  display: flex;
  /*width: 1200;
  margin-right: 100px; */
  margin-left: 100px;
  flex-wrap: nowrap;
  flex-direction: row;
}

@media (max-width: 1500px) {
  .category {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.categorycontainer {
  padding-bottom: 70px;
  background-color: white;
}

.column img {
  float: left;
  width: 280px;
  height: 262px;
  object-fit: cover;
}

.imagelink {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

.imagelink .shop,
.shopshoes {
  text-decoration: none;
  color: #febd69;
  font-size: 18px;
  font-weight: bolder;
}

.shop:hover,
.shopshoes:hover {
  text-decoration: underline;
}

.shopshoes {
  margin-right: 20px;
}
