.form {
    background-color: white;
    padding: 70px;
}

.formscreen {
    text-align: center;
    place-items: center;
    border: black;
}

.title {
    color: #FEBD69;
    font-size: 38px;
    font-weight: bolder;
    padding: 25px;
}

.textbox .login {
    margin-top: 10px;
}

.textbox input {
    font-size: 20px;
    padding: 10px;
}

.login {
    font-size: 20px;
    color: black;
    padding: 10px 140px;
    background-color: #FEBD69;
    border-color: #FEBD69;
}

.login:hover {
    background-color: #e4b271;
}

.text {
    text-decoration: none;
    color: #FEBD69;
    font-weight: bolder;
}

.text:hover {
    text-decoration: underline;
}

.send {
    font-size: 20px;
    color: black;
    padding: 10px 140px;
    background-color: #FEBD69;
    border-color: #FEBD69;
}

.send:hover {
    background-color: #e4b271;
}

.create {
    font-size: 20px;
    color: black;
    padding: 10px 140px;
    background-color: #FEBD69;
    border-color: #FEBD69;
}