/* navbar */
/* src: https://www.w3schools.com/css/css_navbar.asp */

nav {
  margin: auto;
  max-width: 1400px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #febd69;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* navbar dropdown menu */
/* src: https://www.w3schools.com/css/css_dropdowns.asp */

nav li a:hover,
.dropdown-menu:hover .dropdown-button {
  background-color: #c28e49;
}

li.dropdown-menu {
  display: inline-block;
}

li.dropdown-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

li.dropdown-menu .dropdown-content a:hover {
  background-color: #febd69;
}

li.dropdown-menu .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: none;
}

li.dropdown-menu:hover .dropdown-content {
  display: block;
}

nav a.active {
  background-color: rgb(100, 100, 100);
}

.logo {
  background: #fff;
  float: left;

}
.container-logo{
  background-color: #fff;
  padding-bottom: 100px;
}

/* searchbar */
/* src: https://ionic.io/ionicons/usage */

.search-wrapper {
  float: right;
  padding-top: 7px;
  padding-bottom: 7px;
}

.search-input {
  font-size: 17px;
  border: none;
  outline: none;
  width: 400px;
  border-radius: 40px;
  padding-left: 0.7rem;
  margin: 6px;
}

.search-button {
  border: none;
  background-color: #febd69;
}

ion-icon {
  font-size: 18px;
  margin-right: 10px;
  --ionicon-stroke-width: 40px;
  cursor: pointer;
}
