/* navbar */
/* src: https://www.w3schools.com/css/css_navbar.asp */

nav {
  margin: auto;
  width: 100%;
  position: relative;
  margin-bottom: 34px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #febd69;
  position: sticky;
  width: 100%;
}

#nav-ul {
  position: sticky;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .search-input {
    width: 90%;
    margin: 6px 0px;
    justify-content: center;
    align-items: center;
  }

  nav li,
  nav .search-wrapper,
  nav form,
  li {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  button {
    margin-left: 40.5%;
    margin-right: auto;
  }
}

/* navbar dropdown menu */
/* src: https://www.w3schools.com/css/css_dropdowns.asp */

nav li a:hover,
.dropdown-menu:hover .dropdown-button {
  background-color: #c28e49;
  color: black;
}

li.dropdown-menu {
  display: inline-block;
}

li.dropdown-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1100;
}

li.dropdown-menu .dropdown-content a:hover {
  background-color: #febd69;
}

li.dropdown-menu .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: none;
  z-index: 2000;
}

li.dropdown-menu:hover .dropdown-content {
  display: block;
}

nav a.active {
  background-color: #37475a;
  color: #febd69;
}

.logo {
  background: #fff;
  float: center;
}
.container-logo {
  background-color: #fff;
  padding: auto;
  margin-bottom: -35px;
}

/* searchbar */
/* src: https://ionic.io/ionicons/usage */

.search-wrapper {
  float: right;
  padding-top: 2px;
  padding-bottom: 5px;
}

.search-input {
  font-size: 17px;
  border: black;
  outline: black;
  border-radius: 40px;
  padding-left: 0.7rem;
  margin: 6px 12px;
  padding: 5px;
  margin-top: -5;
  size: flex;
}

.sticky {
  top: 0;
  position: sticky;
}

button {
  background-color: #febd69;
  border: none;
  padding: 0.92rem;
  text-transform: uppercase;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}

button:hover {
  background-color: #c28e49;
  cursor: pointer;
}
