.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.product-list-item {
  flex: 1 1 100%;
  max-width: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  
}

/* img & img wrapper */
.product-list-item .product-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

.product-list-item img {
  max-width: 230px;
  max-height: 190px;
  border: none;
}

/* other product info  */

.product-list-item .product-name {
  color: black;
  text-decoration: none;
}

.product-list-item .product-name:hover {
  text-decoration: underline;
}

.product-list-item .product-details {
  display: flex;
  justify-content: space-between;
}
.product-buttons{
  display: flex;
  outline: none;
  border: none;
  background-color: #37475a;
  color: #febd69;
}
.product-buttons .product-buy{
  background-color: #37475a;
  color: #febd69;
  outline: none;
  border-radius: 5px;
  border: none;

}
