.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
}

.product-list-item {
  flex: 1 1 100%;
  max-width: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  
}

/* img & img wrapper */
.product-list-item .product-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

.product-list-item img {
  max-width: 230px;
  max-height: 190px;
  border: none;
}

/* other product info  */

.product-list-item .product-name {
  color: black;
  text-decoration: none;
}

.product-list-item .product-name:hover {
  text-decoration: underline;
}

.product-list-item .product-details {
  display: flex;
  justify-content: space-between;
}
.product-buttons{
  flex-wrap: wrap;
  display: flex;
  outline: none;
  border: none;
  background-color: #fff;
  color: #febd69;
  font-size: 0.5em;
  float: right;
  align-items: flex-end;
  bottom: 0;

}
.product-buttons .product-buy{
  background-color: #fff;
  color: #37475a;
  outline: none;
  border: #37475a;
  cursor: pointer;
  margin: 2px;
  font-size: 14px;
  margin-bottom: 5px;
}
.product-buttons .product-cart{
  background-color: #fff;
  color: #37475a;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2px;
  font-size: 14px;
  bottom: 0;
}
.product-buttons .product-wishlist{
  background-color: #fff;
  color: #37475a;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2px;
  font-size: 14px;
  bottom: 0;
}