.container {
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
}

@media (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }
  .products-left {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.category-checkbox {
  display: block;
}

.container .products-left,
.container .products-right {
  margin-top: 24px;
}

#search-input {
  padding: 5px;
}

.products-left button {
  background: #febd69;
  width: 100px;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 30px;
  margin-top: 8px;
  cursor: pointer;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.products-left button:hover {
  background-color: #ae7c3b;
}

.products-right {
  display: flex;
  flex-direction: column;
}

.products-right > span {
  display: block;
  text-align: center;
}

/* product list */

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
}

.product-list-item {
  /* visibility: hidden; */
  flex: 1 1 100%;
  max-width: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 1rem;
}

/* img & img wrapper */
.product-list-item .product-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

.product-list-item img {
  max-width: 230px;
  max-height: 190px;
  border: none;
}

/* other product info  */

.product-list-item .product-name {
  color: black;
  text-decoration: none;
}

.product-list-item .product-name:hover {
  text-decoration: underline;
}

.product-list-item .product-details {
  display: flex;
  justify-content: space-between;
}
.product-buttons {
  flex-wrap: wrap;
  display: flex;
  outline: none;
  border: none;
  background-color: #fff;
  color: #febd69;
  font-size: 0.5em;
  float: right;
  align-items: flex-end;
  bottom: 0;
}
.product-buttons .product-buy {
  background-color: #fff;
  color: #37475a;
  outline: #37475a;
  border: #37475a;
  cursor: pointer;
  margin: 2px;
  font-size: 14px;
  margin-bottom: 10px;
}
.product-buttons .product-cart {
  background-color: #fff;
  color: #37475a;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2px;
  font-size: 12px;
  bottom: 0;
}
.product-buttons .product-wishlist {
  background-color: #fff;
  color: #37475a;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2px;
  font-size: 12px;
  bottom: 0;
}

.product-buttons ion-icon {
  height: 50px;
}
