/* global */

.container {
  max-width: 1200px;
  margin: auto;
  background-color: white;
}

/* products */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  padding: 2rem;
}

.product {
  box-shadow: 0.5rem 0.5rem 0.5rem gray;
  max-width: 240px;
  flex: 1 1 33%;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}

.product-name {
  display: block;
}

.product img {
  max-width: 120px;
  max-height: 200px;
}

.product-price {
  display: block;
}

.product-details {
  display: flex;
  justify-content: space-between;
}
