.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
}
.fadeIn {
  -webkit-animation: animat_show 0.7s;
  animation: animat_show 0.7s;
  visibility: visible !important;
}

@keyframes animat_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product-list-item {
  visibility: hidden;
  flex: 1 1 100%;
  max-width: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 1rem;
}

/* img & img wrapper */
.product-list-item .product-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

.product-list-item img {
  max-width: 230px;
  max-height: 190px;
  border: none;
}

/* other product info  */

.product-list-item .product-name {
  color: black;
  text-decoration: none;
}

.product-list-item .product-name:hover {
  text-decoration: underline;
}

.product-list-item .product-details {
  display: flex;
  justify-content: space-between;
}
.product-buttons {
  flex-wrap: wrap;
  display: flex;
  outline: none;
  border: none;
  background-color: #fff;
  color: #febd69;
  font-size: 0.5em;
  float: right;
  align-items: flex-end;
  bottom: 0;
}
.product-buttons .product-buy {
  background-color: #fff;
  color: #37475a;
  outline: #37475a;
  border: #37475a;
  cursor: pointer;
  margin: 2px;
  font-size: 14px;
  margin-bottom: 10px;
}
.product-buttons .product-cart {
  background-color: #fff;
  color: #37475a;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2px;
  font-size: 12px;
  bottom: 0;
}
.product-buttons .product-wishlist {
  background-color: #fff;
  color: #37475a;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2px;
  font-size: 12px;
  bottom: 0;
}
