  .form {
    background-color: white;
    padding: 70px;
  }
  
  .formscreen {
    text-align: center;
    place-items: center;
    border: black;
  }
  
  .title {
    color: #febd69;
    font-size: 38px;
    font-weight: bolder;
    padding: 25px;
  }

  .register {
    padding-bottom: 20px;
  }
  
  .register input {
    font-size: 20px;
    padding: 10px;
  }

  .create {
    font-size: 20px;
    color: black;
    padding: 10px 95px;
    background-color: #febd69;
    border-color: #febd69;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
    margin-top: 20px;
  }

  .create:hover {
    background-color: #e4b271;
  }

  .text {
    text-decoration: none;
    color: #febd69;
    font-weight: bolder;
  }
  
  .text:hover {
    text-decoration: underline;
  }

  .terms {
    color:dodgerblue;
  }

  .agree {
    font-size: 20px;
    padding-bottom: 20px;
  }
  