.container {
  height: 300px;
  padding: 30px;
}

.container h2,
.container div {
  text-align: center;
}

.container div {
  margin-top: 15px;
  text-decoration: none;
  color: darkblue;
}

.container a:hover {
  text-decoration: underline;
  color: blue;
}
