body {
    background-color: white;
}

.gif {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.subscribe {
    text-align: center;
    font-size: 40px;
    color: #febd69;
    margin-bottom: 50px;
}