.termscontainer{
    width: 100%;
    height: 800px;
    background-color: white;
    color: #37475a;
    text-align: center;
    justify-content: center;
}
h1{
    align-content: center;
    justify-items: center;
    padding-top: 300px;
}
p{
    padding-top: 100px;
}


.termbutton{
  background: #febd69;
  width: 300px;
  border: none;
  outline: none;
  height: 50px;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
  align-content: center;
  justify-items: center;
}
